In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [20]:
data=pd.read_csv('/content/Boston.csv')

In [21]:
data.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [22]:
data.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [23]:
features=data.drop(['Unnamed: 0','medv'],axis=1)
target=data[['medv']]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(features,target,train_size=0.8,random_state=1)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr=LinearRegression()

In [28]:
pred=lr.fit(x_train,y_train).predict(x_test)

In [30]:
pred

array([[32.65503184],
       [28.0934953 ],
       [18.02901829],
       [21.47671576],
       [18.8254387 ],
       [19.87997758],
       [32.42014863],
       [18.06597765],
       [24.42277848],
       [27.00977832],
       [27.04081017],
       [28.75196794],
       [21.15677699],
       [26.85200196],
       [23.38835945],
       [20.66241266],
       [17.33082198],
       [38.24813601],
       [30.50550873],
       [ 8.74436733],
       [20.80203902],
       [16.26328126],
       [25.21805656],
       [24.85175752],
       [31.384365  ],
       [10.71311063],
       [13.80434635],
       [16.65930389],
       [36.52625779],
       [14.66750528],
       [21.12114902],
       [13.95558618],
       [43.16210242],
       [17.97539649],
       [21.80116017],
       [20.58294808],
       [17.59938821],
       [27.2212319 ],
       [ 9.46139365],
       [19.82963781],
       [24.30751863],
       [21.18528812],
       [29.57235682],
       [16.3431752 ],
       [19.31483171],
       [14.56343172],
       [39.20885479],
       [18.10887551],
       [25.91223267],
       [20.33018802],
       [25.16282007],
       [24.42921237],
       [25.07123258],
       [26.6603279 ],
       [ 4.56151258],
       [24.0818735 ],
       [10.88682673],
       [26.88926656],
       [16.85598381],
       [35.88704363],
       [19.55733853],
       [27.51928921],
       [16.58436103],
       [18.77551029],
       [11.13872875],
       [32.36392607],
       [36.72833773],
       [21.95924582],
       [24.57949647],
       [25.14868695],
       [23.42841301],
       [ 6.90732017],
       [16.56298149],
       [20.41940517],
       [20.80403418],
       [21.54219598],
       [33.85383463],
       [27.94645899],
       [25.17281456],
       [34.65883942],
       [18.62487738],
       [23.97375565],
       [34.6419296 ],
       [13.34754896],
       [20.71097982],
       [30.0803549 ],
       [17.13421671],
       [24.30528434],
       [19.25576671],
       [16.98006722],
       [27.00622638],
       [41.85509074],
       [14.11131512],
       [23.25736073],
       [14.66302672],
       [21.86977175],
       [23.02527624],
       [29.0899182 ],
       [37.11937872],
       [20.53271022],
       [17.36840034],
       [17.71399314]])

In [31]:
y_test

     medv
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
..    ...
92   22.9
224  44.8
110  21.7
426  10.2
443  15.4

[102 rows x 1 columns]

In [11]:
from sklearn.metrics import mean_squared_error

In [17]:
mse=mean_squared_error(y_test,pred)
mse

23.38083648027041

In [16]:
rmse=np.sqrt(mse)
rmse

4.835373458200556